extends layout.pug

block append scripts
  script(src='/index.js')

block content
  h1= title
  p Start the bot
  
  p(class=typeof error === "undefined" ? "hide" : "error") #{error}  
    
  <form action="/start" method="post">
    p
      <div><label for='server'>Server:</label>
      <select id='server' name='server'>
        <option value='1' selected >MSE</option>
        <option value='2' >SE</option>
        <option value='3' >SO</option>
      </select></div>
      <label for='roomId'>Room:</label><input id='roomId' type='text' name='roomId' value='#{roomid}'/>
      <label for='user'>User:</label><input id='user' type='text' name='user' maxlength='50'/>
      <label for='pwd'>Password:</label><input id='pwd' type='password' name='pwd' maxlength='100' />
    p
      <input id="start" type="submit" value='Start'/> 
  </form>
