//- layout.pug
doctype html
html
  head
    title Bot Control - #{title}
    link(href='style.css' rel='stylesheet')
      
    block scripts
      script(src='/client.js')
      
  body
    block content
    block foot
      #footer
        p Copyright 2017/2018 
          a(href='/test') QA Report
          span &nbsp; Apr 27th, 2017
        