    <section class="suite">
      <h1>Array</h1>
      <dl>
        <section class="suite">
          <h1>#indexOf()</h1>
          <dl>
            <dt>should return -1 when the value is not present</dt>
            <dd><pre><code>assert.equal(-1, [1,2,3].indexOf(4));</code></pre></dd>
          </dl>
        </section>
      </dl>
    </section>
    <section class="suite">
      <h1>simpleparser</h1>
      <dl>
        <section class="suite">
          <h1>A successful debug parser</h1>
          <dl>
test
            <dt>accepts data and end event</dt>
            <dd><pre><code>var resp = new EventEmitter();
var db = new parser('debug', resp).then(()=&gt;{
  done();
});
resp.emit('data', 'test');        
resp.emit('end', 'test');</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>An error debug parser</h1>
          <dl>
test
            <dt>accepts an error event</dt>
            <dd><pre><code>var resp = new EventEmitter();
var db = new parser('debug', resp).then(()=&gt;{
  done('failed');
}, () =&gt; { 
  done(); });
resp.emit('error', 'test');</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>A successful fkey parser</h1>
          <dl>
            <dt>returns an fkey from an html stream</dt>
            <dd><pre><code>var expect = '42';
var resp = new EventEmitter();
new parser('fkey', resp).then((fkey)=&gt;{
  //assert.equal('41', fkey);
  fkey===expect ? done() : done('fkey ' + fkey + ' &lt;&gt; ' + expect);
});
resp.emit('data', '&lt;input name=&quot;fkey&quot; value=&quot;42&quot; /&gt;');        
resp.emit('end', '');</code></pre></dd>
          </dl>
        </section>
      </dl>
    </section>
    <section class="suite">
      <h1>Poster</h1>
      <dl>
        <section class="suite">
          <h1>Create a poster</h1>
          <dl>
            <dt>accepts a room</dt>
            <dd><pre><code>var msgposter = new poster.MessagePoster(room);
assert.ok(msgposter);</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>Create a poster with a prepend</h1>
          <dl>
            <dt>accepts a room and a prepend</dt>
            <dd><pre><code>var msgposter = new poster.MessagePoster(room, 'x');
assert.ok(msgposter);</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>Set a poster to silent</h1>
          <dl>
            <dt>accepts a value of true</dt>
            <dd><pre><code>var msgposter = new poster.MessagePoster(room);
var val = msgposter.silent(true);
assert.ok(val);</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>Get a posters value of silent</h1>
          <dl>
            <dt>should return false</dt>
            <dd><pre><code>var msgposter = new poster.MessagePoster(room);
var val = msgposter.silent();
assert.equal(false, val);</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>Toggle a posters value of silent</h1>
          <dl>
            <dt>should toggle</dt>
            <dd><pre><code>var msgposter = new poster.MessagePoster(room);
var toggle = msgposter.silent();
var val = msgposter.silent(!toggle);
assert.equal(!toggle, val);</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>owmMessage</h1>
          <dl>
            <dt>should return a length</dt>
            <dd><pre><code>var msgposter = new poster.MessagePoster(room);
var len = msgposter.ownMessageReceived();
assert.equal(2 , len);
len = msgposter.ownMessageReceived();
assert.equal(3 , len);</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>stop</h1>
          <dl>
            <dt>should not throw</dt>
            <dd><pre><code>var msgposter = new poster.MessagePoster(room);
assert.doesNotThrow(msgposter.stop);
assert.doesNotThrow(msgposter.stop);</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>send</h1>
          <dl>
throtled:1492893780097
            <dt>should post</dt>
            <dd><pre><code>this.timeout(5000);
var msgposter = new poster.MessagePoster(room);
cb = done;
assert.doesNotThrow(() =&gt; {msgposter.send('fubar')});</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>send</h1>
          <dl>
throtled:1492893780097
            <dt>should post after a second</dt>
            <dd><pre><code>this.timeout(3000);
var msgposter = new poster.MessagePoster(room);
cb = done;
assert.doesNotThrow(() =&gt; {msgposter.send('fubar', 1)});</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>send</h1>
          <dl>
throtled:1492893780097
            <dt>should post after a minute second</dt>
            <dd><pre><code>this.timeout(3000);
var msgposter = new poster.MessagePoster(room);
cb = done;
assert.doesNotThrow(() =&gt; {msgposter.send('fubar', 0.001, 1)});</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>send</h1>
          <dl>
throtled:1492893780097
~ fubar
            <dt>should not post when silent</dt>
            <dd><pre><code>this.timeout(5000);
var msgposter = new poster.MessagePoster(room);
cb = function() {done('called anway')};
msgposter.silent(true);
assert.doesNotThrow(() =&gt; {msgposter.send('fubar')});
setTimeout(done,3000);</code></pre></dd>
          </dl>
        </section>
      </dl>
    </section>
    <section class="suite">
      <h1>Util</h1>
      <dl>
        <section class="suite">
          <h1>random time </h1>
          <dl>
            <dt>returns a time between lower and upper</dt>
            <dd><pre><code>var time = util.getRandomArbitrary(6,8);
assert.ok(time&gt;=6 &amp;&amp; time &lt;=8);</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>seconds </h1>
          <dl>
            <dt>returns 1000 ms for each second</dt>
            <dd><pre><code>var time = util.seconds(1);
assert.equal(1000,time);</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>seconds </h1>
          <dl>
            <dt>returns 1000 ms for each second</dt>
            <dd><pre><code>var time = util.seconds(2);
assert.equal(2000,time);</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>minutes </h1>
          <dl>
            <dt>returns 60000 ms for each minute</dt>
            <dd><pre><code>var time = util.minutes(1);
assert.equal(60000,time);</code></pre></dd>
          </dl>
        </section>
      </dl>
    </section>
