doctype html
html
  head
    title Bot Control 
    link(href='style.css' rel='stylesheet')
         
  body
    p
      include views/test.html
  
    #footer
      p Copyright 2017 
        a(href='/test') QA Report

  